<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>
<appender name="stdoutfile" class="org.apache.log4j.FileAppender">
<param name="Threshold" value="INFO"/>
<param name="file" value="C:/temp/logs/provider_h.log" />
<layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern" value="%d{DATE}
%5p %c{1}:%L - %m%n" />
</layout>
</appender>
<logger name="org.hibernate">
    <level value="ERROR" />
    <appender-ref ref="stdoutfile"/>
</logger>
<root>
<priority value="trace">
</priority>
<appender-ref ref="stdoutfile" />
</root>
</log4j:configuration>