<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

   
   <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
  <display-name>Internet provider. Artem Gvozdik</display-name>
  <servlet>
    <display-name>ProviderServlet</display-name>
    <servlet-name>ProviderServlet</servlet-name>
    <servlet-class>artemgvozdik.provider_h.ProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProviderServlet</servlet-name>
    <url-pattern>/addUser</url-pattern>
	<url-pattern>/deleteUser</url-pattern>
	<url-pattern>/login</url-pattern>
	<url-pattern>/alluserlist</url-pattern>
	<url-pattern>/getuser</url-pattern>
	<url-pattern>/updateUser</url-pattern>
    <url-pattern>/addAdmin</url-pattern>
    <url-pattern>/alladmins</url-pattern>
    <url-pattern>/getuserpass</url-pattern>
    <url-pattern>/updateUserPass</url-pattern>
    <url-pattern>/checkLogin</url-pattern>
    <url-pattern>/checkMail</url-pattern>
    <url-pattern>/checkLoginAdmin</url-pattern>
    <url-pattern>/checkMailAdmin</url-pattern>
	<url-pattern>/getadmin</url-pattern>
	<url-pattern>/updateAdmin</url-pattern>
    <url-pattern>/deleteAdmin</url-pattern>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/getadminpass</url-pattern>
    <url-pattern>/updateAdminPass</url-pattern>
    <url-pattern>/alltariffs</url-pattern>
    <url-pattern>/addTariff</url-pattern>
    <url-pattern>/updateTariff</url-pattern>
    <url-pattern>/gettariff</url-pattern>
    <url-pattern>/deleteTariff</url-pattern>
    <url-pattern>/alltar</url-pattern>
    <url-pattern>/changeUserTar</url-pattern>
    <url-pattern>/allservice</url-pattern>
    <url-pattern>/addService</url-pattern>
    <url-pattern>/updateService</url-pattern>
    <url-pattern>/getservice</url-pattern>
    <url-pattern>/deleteService</url-pattern>
    <url-pattern>/allserv</url-pattern>
    <url-pattern>/orderUserServ</url-pattern>
    <url-pattern>/userorders</url-pattern>
    <url-pattern>/activeservice</url-pattern>
    <url-pattern>/changeServiceStatus</url-pattern>
    <url-pattern>/deleteActiveService</url-pattern>

  </servlet-mapping>

<filter>
    <filter-name>AdminPagesFilter</filter-name>
    <filter-class>artemgvozdik.provider_h.filter.AdminPagesFilter</filter-class>
	
</filter>

<filter>
    	<filter-name>UserPagesFilter</filter-name>
    <filter-class>artemgvozdik.provider_h.filter.UserPagesFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>AdminPagesFilter</filter-name>
    <url-pattern>/jsp/admin/*</url-pattern>
    <url-pattern>/addUser</url-pattern>
    <url-pattern>/deleteUser</url-pattern>
    <url-pattern>/alluserlist</url-pattern>
    <url-pattern>/getuser</url-pattern>
    <url-pattern>/updateUser</url-pattern>
    <url-pattern>/addAdmin</url-pattern>
    <url-pattern>/alladmins</url-pattern>
    <url-pattern>/getuserpass</url-pattern>
    <url-pattern>/updateUserPass</url-pattern>
    <url-pattern>/getadmin</url-pattern>
    <url-pattern>/updateAdmin</url-pattern>
    <url-pattern>/deleteAdmin</url-pattern>
    <url-pattern>/getadminpass</url-pattern>
    <url-pattern>/updateAdminPass</url-pattern>
    <url-pattern>/alltariffs</url-pattern>
    <url-pattern>/addTariff</url-pattern>
    <url-pattern>/updateTariff</url-pattern>
    <url-pattern>/gettariff</url-pattern>
    <url-pattern>/deleteTariff</url-pattern>
    <url-pattern>/allservice</url-pattern>
    <url-pattern>/addService</url-pattern>
    <url-pattern>/updateService</url-pattern>
    <url-pattern>/getservice</url-pattern>
    <url-pattern>/deleteService</url-pattern>
    <url-pattern>/activeservice</url-pattern>
    <url-pattern>/changeServiceStatus</url-pattern>
    <url-pattern>/deleteActiveService</url-pattern>
		
</filter-mapping>

<filter-mapping>
<filter-name>UserPagesFilter</filter-name>
    <url-pattern>/jsp/user/*</url-pattern>
    <url-pattern>/alltar</url-pattern>
    <url-pattern>/changeUserTar</url-pattern>
    <url-pattern>/allserv</url-pattern>
    <url-pattern>/orderUserServ</url-pattern>
    <url-pattern>/userorders</url-pattern>
</filter-mapping>
</web-app>
